@import '../Vars';

footer {
    position: absolute;
    width: 100%;
    margin-top: 120px;
    border-top: 2px solid $pink;

    & .container .row {
        & .col-4:first-of-type {
            justify-content: flex-start;
        }

        & .col-4 {
            display: flex;
            align-items: center;

            & .right {
                display: flex;
                align-items: center;

                & a {
                    margin-left: 24px;
                }
            }

            & .left h3 {
                font-size: 1.3em;
            }
        }
    }
}