@import '../Vars';

header {
    margin: 24px 0 12px;
}

nav {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;

    & a {
        margin-left: 2em;
    }
}

@media screen and (max-width: 769px) {
    header .container .row .col-4 {
        max-width: 50%;
    }
    nav {
        & a {
            margin-left: 1em;
        }
    }
}
